	* {
			padding: 0;
			margin: 0;
			font-family: KaiTi,STKait;
		}
		.content {
			width: 94%;
			height: 100%;
		}
	.picture {
			width: 20%;
			height: auto;
			margin: 0 auto;
		}
		a{
			text-decoration: none;
			float: right;
		}
		img {
			width: 100%;
			height: auto;
		}

		.tub{
		position: fixed;
		width: 4%;
		height: 7%;
		right: 2%;
		top: 2%;
		opacity: 1;
		}
		.xinxi {
			width: 90%;
			height: auto;
			margin: 0 auto;
		}
		body{
			background-image: url(https://hbimg.huabanimg.com/fadb0042f91409cc00c334c027919c6dc358cb891562c-a3agxr_fw658);
			background-repeat: repeat-y;
			background-size: 100%;
			/*border:solid 1px #000;*/
			width:100%;
			overflow-x: hidden;
		}
		body div {
			width: 90%;
			margin: 5% auto;
		}
		
	